@model midterm_project.Models.Pet

@{
    ViewData["Title"] = "Pet Details";
}

<div class="formContainer">
    <form asp-controller="Pet" asp-action="Detail">
        <h1>Pet Details</h1>
        <div class="detailContainer">
            <p ><img src="@Model.PetURL" class="detailImage"></p>
            <div class="detailDetails">
                <p class="detailTitle">@Model.PetName</p>
                <p class="detailText">@Model.PetBreed</p>
                <p class="detailText">We are a @Model.PetSize sized creature with a @Model.PetColor coat</p>
                <p class="detailText">Currently we are @Model.PetAge years young</p>
                <p class="detailText">@Model.PetDescription</p>
            </div>
            <input type="hidden" asp-for="PetId" />
        </div>
        <div>
            <input type="submit" class="btn btn-primary float-end" value="Save">
            <a class="btn btn-light" asp-controller="Pet" asp-action="List">Back</a>
        </div>
    </form>
</div>